*{
    margin: 0%;
    padding: 0%;
   box-sizing: border-box;
}
body{

    height: 100vh;
    background-color: rgb(206, 154, 255);
    background-image: url(/public/uu.avif);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchbox{
    height: 200px;
    width: 350px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.searchbox label {
    font-size: 2rem;
    font-weight: 700;
}

.searchbox input {
    margin-top: 15px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
}


.searchbox button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
  font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border-radius: 4px;
 margin-top: 20px;
}